---
import type { CollectionEntry } from 'astro:content';
import PostSummaryCard from './PostSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'posts'>[];
  showLoadingSpinner?: boolean;
}

const { posts, showLoadingSpinner = false } = Astro.props;
---

<div class="posts mt-8">
  <ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8 posts-container'>
    {posts.map((post, index) => (
      <li class="post" data-tags={JSON.stringify(post.data.tags)}>
        <PostSummaryCard post={post} index={index} />
      </li>
    ))}
  </ul>
  {showLoadingSpinner && (
    <div class="flex justify-center mt-8">
      <div class="loading-spinner hidden"></div>
    </div>
  )}
</div>

<style>
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
    display: none;
  }
</style> 