---
---

<section class='flex flex-col gap-8 justify-between'>
  <p class='text-9xl font-bold dm-serif'>404</p>
  <h2 class='text-4xl outfit'>Page Non Trouvée</h2>
  <p class='text-xl sm:text-3xl sanchez'>
    Désolé, nous n'avons pas trouvé la page que vous cherchez.
  </p>
  <a
    href='/'
    title='Retour à l'accueil'
    class='px-4 py-2 border-2 border-black hover:bg-red transition-colors duration-150 ease-in-out w-48 text-center poppins'
    >&larr; Accueil</a
  >
</section>
