:root {
  --border-color: black;
  --border-color-dark: #fff6d2;
  
  /* Brand colors */
  --link-color: #45088a;
  --link-hover-color: #caa1ff;
  
  /* Global font sizes */
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
}

.dark {
  --border-color: #fff6d2;
  --link-color: #caa1ff;
  --link-hover-color: #9e4fff;
}

/* Global link styles */
a:not(.no-link-style) {
  color: var(--link-color);
  transition: color 0.2s ease;
}

a:not(.no-link-style):hover {
  color: var(--link-hover-color);
}

/* Navbar icons - override link colors */
header a {
  color: black !important;
}

header a:hover {
  color: #ffe001 !important; /* yellow-primary */
}

.dark header a {
  color: #fff6d2 !important; /* yellow-soft */
}

.dark header a:hover {
  color: #eec93c !important; /* yellow-gold */
}

/* Brutal button styles for forms */
.brutal-btn-form {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.brutal-btn-form:hover {
  filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
  transform: translate(2px, 2px);
}

.brutal-btn-form:active {
  filter: drop-shadow(2px 2px 0 rgb(0 0 0 / 1));
  transform: translate(3px, 3px);
}

.dark .brutal-btn-form {
  filter: drop-shadow(5px 5px 0 #9e4fff);
}

.dark .brutal-btn-form:hover {
  filter: drop-shadow(3px 3px 0 #9e4fff);
}

.dark .brutal-btn-form:active {
  filter: drop-shadow(2px 2px 0 #9e4fff);
}

/* Variante jaune pour Hero section */
.brutal-btn-hero {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* Ombres noires uniquement pour les boutons dans la section Hero en dark mode */
.dark .hero-section .brutal-btn {
  filter: drop-shadow(5px 5px 0 #000000) !important;
}

.dark .hero-section .brutal-btn:hover {
  filter: drop-shadow(3px 3px 0 #000000) !important;
}

/* Typography classes */
.global-text-base { font-size: var(--text-base); }
.global-text-lg { font-size: var(--text-lg); }
.global-text-xl { font-size: var(--text-xl); }
.global-text-2xl { font-size: var(--text-2xl); }
.global-text-3xl { font-size: var(--text-3xl); }
.global-text-4xl { font-size: var(--text-4xl); }
.global-text-5xl { font-size: var(--text-5xl); }

.card-shadow {
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}
.card-shadow:hover {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease;
}

.dark body {
  background-color: black;
}

::selection {
  background-color: aliceblue;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 22px;
  background-color: white;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    );
  background-color: white;
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
  width: 10px;
  border-left: 3px solid black;
}

::-webkit-scrollbar-thumb {
  width: 20px;
  box-sizing: content-box;
  background-color: white;
  border: 2px solid black;
  border-right: none;
}

/* Boutons de la scrollbar */
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' stroke='black' d='M.5.5h21v22.375H.5z'/%3E%3Cpath fill='black' d='M1 23h20v-2H1zM1.375 12.375h5.5V11h-5.5zM6.875 17.875h6.875V16.5H6.875zM6.875 17.875v-5.5H5.5v5.5zM9.625 5.5V4.125H8.25V5.5zM11 4.125V2.75H9.625v1.375zM19.25 12.375V11h-1.375v1.375zM17.875 11V9.625H16.5V11zM16.5 9.625V8.25h-1.375v1.375zM15.125 8.25V6.875H13.75V8.25zM13.75 6.875V5.5h-1.375v1.375zM12.375 5.5V4.125H11V5.5zM8.25 6.875V5.5H6.875v1.375zM6.875 8.25V6.875H5.5V8.25zM5.5 9.625V8.25H4.125v1.375zM4.125 11V9.625H2.75V11z'/%3E%3Cpath fill='black' d='M2.75 12.375V11H1.375v1.375zM15.125 17.875v-5.5H13.75v5.5zM13.75 12.375h5.5V11h-5.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 23.38px;
}

::-webkit-scrollbar-button:vertical:start:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' stroke='black' d='M.5.5h21v22.38H.5z'/%3E%3Cpath fill='black' d='M1 23.005h20v-2H1zM1.375 12.378h5.5v-1.375h-5.5zM6.875 17.879h6.875V6.877H6.875zM6.875 17.879v-5.501H5.5v5.5zM9.625 5.501V4.126H8.25v1.375zM11 4.126V2.75H9.625v1.375zM19.25 12.378v-1.375h-1.375v1.375zM17.875 11.002V9.627H13.75v1.375zM16.5 9.627V8.252h-2.75v1.375zM15.125 8.252V6.877H13.75v1.375zM13.75 6.876V5.501h-1.375v1.375zM12.375 5.501V4.126h-2.75v1.375zM12.375 6.876V5.501h-5.5v1.375zM6.875 8.252V6.877H5.5v1.375zM6.875 9.627V8.252h-2.75v1.375zM6.875 11.002V9.627H2.75v1.375z'/%3E%3Cpath fill='black' d='M2.75 12.378v-1.375H1.375v1.375zM15.125 17.879v-5.501H13.75v5.5zM13.75 12.378h5.5v-1.375h-5.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 23.38px;
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' stroke='black' d='M.5 22.88h21V.5H.5z'/%3E%3Cpath fill='black' d='M1 .375h20v2H1zM1.375 11h5.5v1.375h-5.5zM6.875 5.5h6.875v1.375H6.875zM6.875 5.5V11H5.5V5.5zM9.625 17.875v1.375H8.25v-1.375zM11 19.25v1.375H9.625V19.25zM19.25 11v1.375h-1.375V11zM17.875 12.375v1.375H16.5v-1.375zM16.5 13.75v1.375h-1.375V13.75zM15.125 15.125V16.5H13.75v-1.375zM13.75 16.5v1.375h-1.375V16.5zM12.375 17.875v1.375H11v-1.375zM8.25 16.5v1.375H6.875V16.5zM6.875 15.125V16.5H5.5v-1.375zM5.5 13.75v1.375H4.125V13.75zM4.125 12.375v1.375H2.75v-1.375z'/%3E%3Cpath fill='black' d='M2.75 11v1.375H1.375V11zM15.125 5.5V11H13.75V5.5zM13.75 11h5.5v1.375h-5.5z'/%3E%3C/svg%3E");
  height: 23.38px;
}

::-webkit-scrollbar-button:vertical:end:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' stroke='black' d='M.5 22.88h21V.5H.5z'/%3E%3Cpath fill='black' d='M1 .375h20v2H1zM1.375 11.002h5.5v1.375h-5.5zM6.875 5.501h6.875v11.002H6.875zM6.875 5.501v5.501H5.5v-5.5zM9.625 17.879v1.375H8.25v-1.375zM11 19.254v1.375H9.625v-1.375zM19.25 11.002v1.375h-1.375v-1.375zM17.875 12.378v1.375H13.75v-1.375zM16.5 13.753v1.375h-2.75v-1.375zM15.125 15.128v1.375H13.75v-1.375zM13.75 16.503v1.375h-1.375v-1.375zM12.375 17.879v1.375h-2.75v-1.375zM12.375 16.503v1.375h-5.5v-1.375zM6.875 15.128v1.375H5.5v-1.375zM6.875 13.753v1.375h-2.75v-1.375zM6.875 12.378v1.375H2.75v-1.375z'/%3E%3Cpath fill='black' d='M2.75 11.002v1.375H1.375v-1.375zM15.125 5.501v5.501H13.75v-5.5zM13.75 11.002h5.5v1.375h-5.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 23.38px;
}

/* Dark mode */
.dark ::-webkit-scrollbar {
  background-color: black;
}

.dark ::-webkit-scrollbar-track {
  background: linear-gradient(
      45deg,
      #fff6d2 25%,
      transparent 25%,
      transparent 75%,
      #fff6d2 75%,
      #fff6d2
    ),
    linear-gradient(
      45deg,
      #fff6d2 25%,
      transparent 25%,
      transparent 75%,
      #fff6d2 75%,
      #fff6d2
    );
  background-color: black;
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
  border-left: 3px solid #fff6d2;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid #fff6d2;
  border-right: none;
}

/* Boutons de la scrollbar en mode sombre */
.dark ::-webkit-scrollbar-button:vertical:start {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' stroke='%23FFE8A7D3' d='M.5.5h21v22.375H.5z'/%3E%3Cpath fill='%23FFE8A7D3' d='M1 23h20v-2H1zM1.375 12.375h5.5V11h-5.5zM6.875 17.875h6.875V16.5H6.875zM6.875 17.875v-5.5H5.5v5.5zM9.625 5.5V4.125H8.25V5.5zM11 4.125V2.75H9.625v1.375zM19.25 12.375V11h-1.375v1.375zM17.875 11V9.625H16.5V11zM16.5 9.625V8.25h-1.375v1.375zM15.125 8.25V6.875H13.75V8.25zM13.75 6.875V5.5h-1.375v1.375zM12.375 5.5V4.125H11V5.5zM8.25 6.875V5.5H6.875v1.375zM6.875 8.25V6.875H5.5V8.25zM5.5 9.625V8.25H4.125v1.375zM4.125 11V9.625H2.75V11z'/%3E%3Cpath fill='%23FFE8A7D3' d='M2.75 12.375V11H1.375v1.375zM15.125 17.875v-5.5H13.75v5.5zM13.75 12.375h5.5V11h-5.5z'/%3E%3C/svg%3E");
}

.dark ::-webkit-scrollbar-button:vertical:start:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' stroke='%23FFE8A7D3' d='M.5.5h21v22.38H.5z'/%3E%3Cpath fill='%23FFE8A7D3' d='M1 23.005h20v-2H1zM1.375 12.378h5.5v-1.375h-5.5zM6.875 17.879h6.875V6.877H6.875zM6.875 17.879v-5.501H5.5v5.5zM9.625 5.501V4.126H8.25v1.375zM11 4.126V2.75H9.625v1.375zM19.25 12.378v-1.375h-1.375v1.375zM17.875 11.002V9.627H13.75v1.375zM16.5 9.627V8.252h-2.75v1.375zM15.125 8.252V6.877H13.75v1.375zM13.75 6.876V5.501h-1.375v1.375zM12.375 5.501V4.126h-2.75v1.375zM12.375 6.876V5.501h-5.5v1.375zM6.875 8.252V6.877H5.5v1.375zM6.875 9.627V8.252h-2.75v1.375zM6.875 11.002V9.627H2.75v1.375z'/%3E%3Cpath fill='%23FFE8A7D3' d='M2.75 12.378v-1.375H1.375v1.375zM15.125 17.879v-5.501H13.75v5.5zM13.75 12.378h5.5v-1.375h-5.5z'/%3E%3C/svg%3E");
}

.dark ::-webkit-scrollbar-button:vertical:end {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' stroke='%23FFE8A7D3' d='M.5 22.88h21V.5H.5z'/%3E%3Cpath fill='%23FFE8A7D3' d='M1 .375h20v2H1zM1.375 11h5.5v1.375h-5.5zM6.875 5.5h6.875v1.375H6.875zM6.875 5.5V11H5.5V5.5zM9.625 17.875v1.375H8.25v-1.375zM11 19.25v1.375H9.625V19.25zM19.25 11v1.375h-1.375V11zM17.875 12.375v1.375H16.5v-1.375zM16.5 13.75v1.375h-1.375V13.75zM15.125 15.125V16.5H13.75v-1.375zM13.75 16.5v1.375h-1.375V16.5zM12.375 17.875v1.375H11v-1.375zM8.25 16.5v1.375H6.875V16.5zM6.875 15.125V16.5H5.5v-1.375zM5.5 13.75v1.375H4.125V13.75zM4.125 12.375v1.375H2.75v-1.375z'/%3E%3Cpath fill='%23FFE8A7D3' d='M2.75 11v1.375H1.375V11zM15.125 5.5V11H13.75V5.5zM13.75 11h5.5v1.375h-5.5z'/%3E%3C/svg%3E");
}

.dark ::-webkit-scrollbar-button:vertical:end:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' stroke='%23FFE8A7D3' d='M.5 22.88h21V.5H.5z'/%3E%3Cpath fill='%23FFE8A7D3' d='M1 .375h20v2H1zM1.375 11.002h5.5v1.375h-5.5zM6.875 5.501h6.875v11.002H6.875zM6.875 5.501v5.501H5.5v-5.5zM9.625 17.879v1.375H8.25v-1.375zM11 19.254v1.375H9.625v-1.375zM19.25 11.002v1.375h-1.375v-1.375zM17.875 12.378v1.375H13.75v-1.375zM16.5 13.753v1.375h-2.75v-1.375zM15.125 15.128v1.375H13.75v-1.375zM13.75 16.503v1.375h-1.375v-1.375zM12.375 17.879v1.375h-2.75v-1.375zM12.375 16.503v1.375h-5.5v-1.375zM6.875 15.128v1.375H5.5v-1.375zM6.875 13.753v1.375h-2.75v-1.375zM6.875 12.378v1.375H2.75v-1.375z'/%3E%3Cpath fill='%23FFE8A7D3' d='M2.75 11.002v1.375H1.375v-1.375zM15.125 5.501v5.501H13.75v-5.5zM13.75 11.002h5.5v1.375h-5.5z'/%3E%3C/svg%3E");
}
