---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Default.astro';
import GuideList from '@components/guide/GuideList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
	const allPosts = await getCollection("guide").then((collection) =>
		collection.reverse()
	);

	const tags: string[] = [];

	allPosts.forEach((guide) => {
		guide.data.tags.forEach((tag) => {
			if (typeof tag === "string") {
				const formattedTag = tag.toLowerCase().replace(/\s+/g, "-");
				tags.push(formattedTag);
			}
		});
	});

	return Array.from(new Set(tags)).map((originalTag) => {
		const formattedTag = originalTag.toLowerCase().replace(/\s+/g, "-");

		return {
			params: { tag: formattedTag },
			props: {
				tag: formattedTag,
				guides: allPosts.filter((guide) =>
					guide.data.tags
						.map((guideTag) => guideTag.toLowerCase().replace(/\s+/g, "-"))
						.includes(formattedTag)
				),
			},
		};
	});
}

interface Props {
	tag: string;
	guides: CollectionEntry<"guide">[];
}

const { tag, guides } = Astro.props;
---

<Layout
	title={`Guide: ${tag}`}
	description={`Web'Indé Guide | Tous les guides taggés avec ${tag}`}
	pageTitle={`Web'Indé Guide | Guides taggés avec ${tag}`}
>
	<main class="p-6 bg-purple grid gap-4">
		<div>
			<Button href="/guide/">&larr; Retour aux guides</Button>
		</div>
		<GuideList posts={guides} />
	</main>
</Layout>
