---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import Filter from '@components/posts/Filter.astro';

const postsEntries = await getCollection('posts')
  .then((collection) => 
    collection.filter((post) => 
      post.data.tags.map((tag: string) => tag.toLowerCase()).includes('apps')
    )
  )
  .then((filtered) => filtered.reverse());
---

<Layout
	title="Apps"
	description="Web'Indé | Apps"
	pageTitle="Apps'Indé"
>
	<main class="bg-green p-6">
		<Filter posts={postsEntries} />
	</main>
</Layout>
