---
import { getCollection } from "astro:content";
import Layout from "../layouts/Default.astro";
import FilterTags from "../components/components/FilterTags.vue";
import { tagHierarchy } from "../components/tagHierarchy";
import colors from "../components/config/colors.json";
import type { TagHierarchy } from "../utils/types/tags";

const posts = await getCollection("posts")
	.then((collection) =>
		collection.filter((post) =>
			post.data.tags
				.map((tag: string) => tag.toLowerCase())
				.includes("apps"),
		),
	)
	.then((filtered) => filtered.reverse());

const mainTags = Object.keys(tagHierarchy);
---

<Layout title="Apps" description="Web'Indé | Apps" pageTitle="Apps'Indé">
	<main
		class="page-background bg-gray-2 dark:bg-gray-8 p-6"
		transition:name="posts-container"
	>
		<!-- Zone de contenu dynamique -->
		<div id="dynamic-content">
			<!-- Composant Vue pour le filtrage -->
			<FilterTags
				client:visible
				mainTags={mainTags}
				tagHierarchy={tagHierarchy}
				initialPosts={posts}
			/>
		</div>
	</main>
</Layout>
<script>
	import colors from "../components/config/colors.json";

	function setRandomBackgroundColor() {
		const isDark = document.documentElement.classList.contains("dark");
		const colorArray = isDark ? colors.dark : colors.light;
		const randomColor =
			colorArray[Math.floor(Math.random() * colorArray.length)];
		const element = document.querySelector(".page-background") as HTMLElement;
		element?.style.setProperty("background-color", randomColor);
	}

	// Initialisation
	document.addEventListener("astro:page-load", setRandomBackgroundColor);

	// Gestion du changement de thème
	document.addEventListener("theme-changed", setRandomBackgroundColor);
</script>

<style>
	.page-background {
		transition: background-color 0.3s ease;
	}
</style>
