---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Faaaster', url: 'https://astro.build/' },
  { name: 'Snackeet', url: 'https://uno.antfu.me/' },
  {
    name: 'Kooneo',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'Infomaniak', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Katappult',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Odool', url: 'https://vercel.com' },
  { name: 'Systemeio', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title="Web'Indé"
  pageTitle="Web'Indé"
  description=''
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='mt-4 outfit text-3xl md:text-4xl lg:text-5xl dm-serif'>
              Ton
              <a
                class='text-white'
                target='_blank'
                href='https://astro.build/'>Site Web</a
              > en 2H :)
            </h2>
            <p class='mt-2 outfit text-2xl md:text-2xl lg:text-4xl'>
              WordPress ? Shopify ! Wix ? Webflow !
            </p>
            <p class='outfit text-2xl md:text-2xl lg:text-4xl'>
              Mais enfin que choisir ??
            </p>
            <p class='poppins text-xl md:text-2xl mb-2'>
              J'évalue et partage avec toi des plateformes de création de site web à taille humaine et francophones.
            </p>
            <Button target={'_self'} href='/app/'>
              Comparateur d'outils &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-4 space-y-4'>
        <Card>
          <h2 class='text-2xl lg:text-4xl my-4 dm-serif'>
            Choisis une plateforme
          </h2>
          <ul class='flex gap-4 flex-wrap'>
              <Card>
                <h2 class='text-2xl lg:text-4xl mb-4 dm-serif'>
                  Stop !!
                </h2>
                <p class='poppins text-sm mb-2'>
                  Les outils mentionnés on les voit partout (merci la pub...) mais :
                </p>
                <p class='poppins mb-2'>
                  Ce sont des usines à gaz internationnales,
                  faîtes pour satisfaire tout le monde en même temps.
                </p>
                <p class='poppins text-sm mb-2'>
                  Le site et le support seront en anglais, avec du code lourd pour un SEO pété.
                </p>
              </Card>
              <p class='poppins text-xl'>
                Voilà des outils bien de chez nous :
              </p>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez text-xl'
                      href={item.url}
                      target='_blank'
                      title={`Voir ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
