---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import PostList from '@components/posts/PostList.astro';
import Filter from '@components/posts/Filter.astro';
const posts = await getCollection('posts').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description="Web'Indé | On this page you can find a collection of blogposts"
  pageTitle="Web'Indé Blog"
>
  <main class='bg-green p-6'>
    <Filter posts={posts} />
    <PostList posts={posts} />
  </main>
</Layout>
