---
import type { CardProps } from "../../utils/types/ui";
import colors from "../config/colors.json";

type Props = CardProps;

const {
	color = colors.light[Math.floor(Math.random() * colors.light.length)],
} = Astro.props;
---

<style define:vars={{ color, softWhite: colors.softWhite }}>
	div.brutal-card {
		background-color: var(--color);
		border-radius: 0.5rem;
		border: 3px solid black;
		filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
		transition: all;
		padding: 1rem;
		transition-duration: 0.5s;
		animation: ease-in-out;
		color: black;
	}
	div.brutal-card:hover {
		filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
	}

	:global(.dark) div.brutal-card {
		background-color: black;
		border: 3px solid var(--softWhite);
		filter: drop-shadow(7px 7px 0 var(--softWhite));
		color: var(--softWhite);
	}

	:global(.dark) div.brutal-card:hover {
		filter: drop-shadow(5px 5px 0 var(--softWhite));
	}
</style>

<div class="brutal-card">
	<slot />
</div>
