---
import type { CardProps } from "../../utils/types/ui";
import colors from "../config/colors.json";

type Props = CardProps;

const {
	color = colors.light[Math.floor(Math.random() * colors.light.length)],
} = Astro.props;
---

<style define:vars={{ color, softWhite: '#FFD35AD9' }}>
	.brutal-card-astro {
		background-color: var(--color);
		border-radius: 0.5rem;
		border: 3px solid black;
		filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
		padding: 1rem;
		color: black;
	}

	:global(.dark) .brutal-card-astro {
		background-color: black;
		border: 3px solid var(--softWhite);
		filter: drop-shadow(7px 7px 0 var(--softWhite));
		color: var(--softWhite);
	}
</style>

<div class="brutal-card-astro">
	<slot />
</div>
