---
interface Props {
	pubDate: Date;
	author: string;
}

const { pubDate, author } = Astro.props;
import colors from "../config/colors.json";
---

<article
	class="prose prose-slate w-sm md:w-prose poppins p-6 rounded-lg bg-white dark:bg-black dark:prose-dark"
>
	<a href="/" title="Retour" class="hover:text-green dark:hover:text-green-400"
		>&larr; Retour</a
	>
	<p class="text-sm md:text-base">
		Publié le {pubDate} par {author}
	</p>
	<div>
		<slot />
	</div>
	<p>
		Écrit par {author}
	</p>
	<a href="/" title="Retour" class="hover:text-green dark:hover:text-green-400"
		>&larr; Retour</a
	>
</article>
