---
interface Props {
	headings: Array<Object>;
}

const { headings } = Astro.props;
import colors from "../config/colors.json";
---

<aside>
	<nav class="hidden lg:block sticky top-6 p-4 rounded-lg">
		<ul>
			{
				headings.map((heading: any) => (
					<li class="py-1">
						{[...Array(heading.depth - 1)].map((_, _i) => (
							<span class="inline-block w-4" />
						))}
						<a
							class="hover:text-green dark:hover:text-green-400 transition-all duration-150 ease-in-out text-dark poppins dark:text-softWhite"
							href={`#${heading.slug}`}
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>
