---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Default.astro";
import FilterTags from "../../components/components/FilterTags.vue";
import { tagHierarchy } from "../../components/tagHierarchy";
import { normalizeTag } from "../../utils/tags";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");

	// Collecter tous les tags uniques utilisés dans les posts
	const allTags = new Set<string>();
	allPosts.forEach((post) => {
		post.data.tags.forEach((tag) => {
			allTags.add(tag);
		});
	});

	const paths = [];

	for (const tag of allTags) {
		const normalizedTag = normalizeTag(tag);
		const filteredPosts = allPosts
			.filter((post) =>
				post.data.tags.some((t) => normalizeTag(t) === normalizedTag),
			)
			.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

		paths.push({
			params: { tag: normalizedTag },
			props: {
				posts: filteredPosts,
				originalTag: tag,
			},
		});
	}

	return paths;
}

const { posts, originalTag } = Astro.props;
const mainTags = Object.keys(tagHierarchy);
const selectedTags = [originalTag];
---

<Layout
	title={`Posts - ${tagHierarchy[originalTag]?.label || originalTag}`}
	description={`CHARBON | Posts tagged with ${
		tagHierarchy[originalTag]?.label || originalTag
	}`}
	pageTitle={`Posts - ${tagHierarchy[originalTag]?.label || originalTag}`}
	metaRobots="index, follow"
>
	<main
		class="page-background bg-white-soft dark:bg-black p-6"
		transition:name="posts-container"
	>
		<FilterTags
			mainTags={mainTags}
			tagHierarchy={tagHierarchy}
			initialPosts={posts}
			selectedTags={selectedTags}
			client:load
		/>
		{
			posts.length === 0 && (
				<p class="text-center py-10">
					Aucun post trouvé pour le tag{" "}
					{tagHierarchy[originalTag]?.label || originalTag}
				</p>
			)
		}
	</main>
</Layout>

<script>
	import colors from "../../components/config/colors.json";

	function setRandomBackgroundColor() {
		const isDark = document.documentElement.classList.contains("dark");
		const colorArray = isDark ? colors.dark : colors.light;
		const randomColor =
			colorArray[Math.floor(Math.random() * colorArray.length)];
		const element = document.querySelector(".page-background") as HTMLElement;
		element?.style.setProperty("background-color", randomColor);
	}

	// Initialisation
	document.addEventListener("astro:page-load", setRandomBackgroundColor);

	// Gestion du changement de thème
	document.addEventListener("theme-changed", setRandomBackgroundColor);
</script>

<style>
	.page-background {
		transition: background-color 0.3s ease;
	}
</style>
