---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Default.astro";
import AppList from "@components/app/AppList.astro";
import { Button } from "@eliancodes/brutal-ui";

export async function getStaticPaths() {
	const allPosts = await getCollection("app").then((collection) =>
		collection.reverse()
	);

	const tags: string[] = [];

	allPosts.forEach((app) => {
		app.data.tags.forEach((tag) => {
			if (typeof tag === "string") {
				const formattedTag = tag.toLowerCase().replace(/\s+/g, "-");
				tags.push(formattedTag);
			}
		});
	});

	return Array.from(new Set(tags)).map((originalTag) => {
		const formattedTag = originalTag.toLowerCase().replace(/\s+/g, "-");

		return {
			params: { tag: formattedTag },
			props: {
				tag: formattedTag,
				apps: allPosts.filter((app) =>
					app.data.tags
						.map((appTag) => appTag.toLowerCase().replace(/\s+/g, "-"))
						.includes(formattedTag)
				),
			},
		};
	});
}

interface Props {
	tag: string;
	apps: CollectionEntry<"app">[];
}

const { tag, apps } = Astro.props;
---

<Layout
	title={`Apps: ${tag}`}
	description={`Web'Indé Apps | Toutes les apps taggées avec ${tag}`}
	pageTitle={`Web'Indé Apps | Apps taggées avec ${tag}`}
>
	<main class="p-6 bg-purple grid gap-4">
		<div>
			<Button href="/app/">&larr; Retour aux apps</Button>
		</div>
		<AppList posts={apps} />
	</main>
</Layout>
